<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= projectTitle %></title>
    <link rel="stylesheet" href="assets/css/<%= prefix %>-vendors.css">
    <link rel="stylesheet" href="assets/css/<%= prefix %>-main.css">
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <link rel="manifest" href="manifest.json">
</head>

<body>
