//$h1-font-size: $font-size-base * 2;
$dark-color: #d0d2d3;

//$grid-gutter-width: 30px;
:root {
    --blue: #30c5ff;
    --green: #54b948;
    --sage: #f0f7ee;
    --dark-blue: #304e6b;
    --white: #fff;
    --black: #333;
    --red: #ea232a;
    --dark: #414141;
}
