@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/web/HelveticaNeueLTStd-LtCn.otf');
}

@font-face {
    font-family: 'Helvetica Neue Roman 55';
    src: url('../fonts/web/HelveticaNeueLTStd-Roman.otf');
}

.page-title {
    font-family: 'Helvetica Neue LT Std';
}

body {
    font-family: 'Helvetica Neue Roman 55';
    font-size: 16px;
    line-height: 1.25em;
    color: #304e6b;
}

h1,
h2,
h3,
h4 {
    font-family: 'Helvetica Neue Roman 55';
}

label {
    font-family: 'Helvetica Neue Roman 55';
}