/* ------App header__start------ */
@media screen and (min-width: 992px) {
    /* makes the dropdown full width  */
    .navbar .dropdown {
        position: static;
    }

    .navbar .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
        top: 55px;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s linear;

    }
    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu,
    .navbar .dropdown .dropdown-menu:hover {
        display: block;
        visibility: visible;
        opacity: 1;
        /*  height of nav-item  */
        top: 45px;
    }

    .navbar .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, .15);
        background-color: #fff;
    }

}


/* ------App header__End------ */