<%- include('../../1-Components/1-header/head'); -%>
<!-- App Header -->
<header class="app-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/"><img src="assets/images/logo.svg" alt="Bayside"></a>
            </div>
            <div class="col">
                <%- include('../../1-Components/1-header/navbar-nav'); -%>
            </div>
        </div>
        <!--.row/-->
    </div>
    <!-- .container/ -->
</header>
<!-- App Header/ -->