<!-- Main Menus -->
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="coming-soon.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="38" viewBox="0 0 46 38" fill="none">
                <path d="M33.1956 22.5032C32.5 22.2672 31.7852 22.0532 31.0508 21.8656C31.0504 21.8664 31.05 21.8664 31.05 21.8664C30.8756 22.0016 30.6984 22.1328 30.5176 22.2592C30.5172 22.2592 30.5164 22.26 30.516 22.26C30.3376 22.3848 30.1556 22.506 29.9708 22.6216C29.9664 22.6248 29.9624 22.6272 29.9588 22.6296C29.7756 22.7444 29.5892 22.8544 29.4004 22.9608C29.3956 22.9632 29.3908 22.9664 29.3856 22.9692C29.1928 23.0764 28.9964 23.1792 28.7976 23.2776C27.0492 24.1384 25.0824 24.6244 23.0004 24.6244C21.7872 24.6244 20.6024 24.6956 19.4536 24.8276C18.0772 24.9856 16.7548 25.2332 15.5036 25.5604L15.5004 25.5588V26.4996C15.5004 26.8224 15.53 27.1396 15.5804 27.452C16.172 27.2912 16.784 27.1496 17.4128 27.0272C19.1612 26.6864 21.0408 26.5 23.0004 26.5C24.9912 26.5 26.888 26.11 28.6252 25.4072C29.2736 25.1448 29.9004 24.8408 30.5004 24.494C30.8228 24.3072 31.138 24.1104 31.4444 23.9012C38.6264 25.9528 43.6252 30.5364 43.6252 35.8756H2.3748C2.3748 28.6204 11.6 22.75 23 22.75C23.2272 22.75 23.4524 22.7416 23.6756 22.728C23.7412 22.724 23.8056 22.718 23.8708 22.7132C24.0348 22.7008 24.198 22.6844 24.3604 22.6648C24.4256 22.6568 24.4904 22.6492 24.5552 22.6404C24.7412 22.6148 24.9264 22.584 25.1092 22.5496C25.1404 22.5432 25.1724 22.5388 25.2032 22.5324C25.4292 22.488 25.6536 22.4364 25.8748 22.3776C25.8832 22.376 25.8912 22.3728 25.8996 22.3704C26.108 22.3148 26.3136 22.2532 26.5176 22.186C26.5504 22.1752 26.5824 22.164 26.6152 22.1532C26.808 22.0876 26.9988 22.0172 27.1872 21.9424C27.2048 21.9352 27.2228 21.9284 27.2404 21.9212C27.6676 21.7468 28.082 21.5484 28.4812 21.326C28.482 21.3252 28.4828 21.3244 28.4836 21.3244C31.9124 19.408 34.2324 15.7508 34.2484 11.5432H34.25V11.5048C34.25 11.5032 34.25 11.5016 34.25 11.4992C34.25 11.4968 34.25 11.4936 34.25 11.4912V11.442H34.2484C34.218 5.27158 29.2344 0.285579 23.0652 0.250379V0.248779H23.008C23.0052 0.248779 23.0024 0.248779 23 0.248779C22.9972 0.248779 22.9944 0.248779 22.992 0.248779H22.9436C16.7708 0.279179 11.7824 5.26838 11.7512 11.4404H11.75V11.4912C11.75 11.4936 11.75 11.4968 11.75 11.4992C11.75 11.5016 11.75 11.504 11.75 11.5064V11.5492H11.7512C11.7656 14.8336 13.1824 17.7836 15.4356 19.8296C16.242 19.6484 17.0656 19.4936 17.9064 19.3704C15.3296 17.7 13.6248 14.8016 13.6248 11.4992C13.6248 6.31958 17.814 2.12798 22.992 2.12398H23.0076C28.1832 2.12798 32.37 6.31558 32.3748 11.4912V11.4992C32.3748 16.6812 28.1816 20.8744 22.9996 20.8744C22.5596 20.8744 22.1236 20.8844 21.6904 20.9008C21.5716 20.9056 21.4536 20.9132 21.3348 20.9196C21.0104 20.9352 20.6888 20.9548 20.3684 20.9788C20.2504 20.988 20.1332 20.9984 20.016 21.0092C19.6776 21.0388 19.3424 21.0732 19.0092 21.1132C18.9244 21.1232 18.8392 21.1328 18.7544 21.1436C8.3524 22.4664 0.5 28.5516 0.5 35.8752V36.8128C0.5 37.33 0.9196 37.7504 1.4376 37.7504H44.5624C45.0804 37.7504 45.5 37.33 45.5 36.8128V35.8752C45.5 30.032 40.4992 24.9796 33.1956 22.5032Z"
                    fill="white" />
            </svg>
            <span>Profile</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="coming-soon.html">
            <svg style="width:45px;height:45px;margin-left: -8px;" xmlns="http://www.w3.org/2000/svg" width="36.15"
                height="36.15" viewBox="0 0 36.15 36.15">
                <g>
                    <rect fill="none" width="36.15" height="36.15" rx="4" ry="4" />
                    <g>
                        <path fill="#fff" d="M28.33,8,20.53,3.75a1.65,1.65,0,0,0-2.16.65L13.8,12.88H8.25A1.25,1.25,0,0,0,7,14.15v2.22H7V27.88a1.25,1.25,0,0,0,1.26,1.26H26a1.25,1.25,0,0,0,1.26-1.26V24.67h.52a.49.49,0,0,0,.49-.49V20.5a.49.49,0,0,0-.49-.49h-.52V16.4a1.29,1.29,0,0,0-1-1.23l2.72-5A1.62,1.62,0,0,0,28.33,8ZM22.78,6.1l-4.87,9H16.52l5.21-9.6ZM19.26,4.86a.61.61,0,0,1,.8-.25l.77.43L15.41,15.14h-1.7Zm-11,9h5l-.68,1.23H8.22a.85.85,0,0,0-.28,0v-1A.3.3,0,0,1,8.22,13.87Zm19,7.13v2.68H24.32a.49.49,0,0,1-.49-.49v-1.7a.49.49,0,0,1,.49-.49h2.93Zm-2.93-1a1.48,1.48,0,0,0-1.48,1.48v1.7a1.48,1.48,0,0,0,1.48,1.48h1.91v3.21a.28.28,0,0,1-.28.28H8.22a.28.28,0,0,1-.28-.28V16.4h0a.28.28,0,0,1,.28-.28H25.93a.28.28,0,0,1,.28.28V20H24.32ZM28.09,9.64l-3,5.49H19l4.63-8.55,4.2,2.28A.54.54,0,0,1,28.09,9.64Z" />
                        <path fill="#fff" d="M27,11.67l-.25-.12a1.35,1.35,0,0,0-1.79.52l-.31.59a1.3,1.3,0,0,0-.09,1,1.24,1.24,0,0,0,.65.77l.25.12a1.4,1.4,0,0,0,.62.15A1.39,1.39,0,0,0,27.25,14l.31-.59A1.38,1.38,0,0,0,27,11.67ZM26.67,13l-.31.59a.35.35,0,0,1-.46.12l-.25-.15a.45.45,0,0,1-.15-.19.23.23,0,0,1,0-.25l.31-.59a.41.41,0,0,1,.31-.19.28.28,0,0,1,.15,0l.25.12A.48.48,0,0,1,26.67,13Z" />
                    </g>
                </g>
            </svg>

            <span>Wallet</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="coming-soon.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                <path d="M29.9989 3.05176e-05C13.4574 3.05176e-05 0 13.4582 0 29.9997C0 46.5418 13.4574 60 29.9989 60C46.5418 60 59.9993 46.5418 59.9993 29.9997C59.9993 13.4582 46.5418 3.05176e-05 29.9989 3.05176e-05ZM29.9989 57.0664C15.0754 57.0664 2.93366 44.9239 2.93366 29.9997C2.93366 15.0754 15.0754 2.93369 29.9989 2.93369C44.9239 2.93369 57.0656 15.0754 57.0656 29.9997C57.0656 44.9239 44.9239 57.0664 29.9989 57.0664Z"
                    fill="#fff" />
                <path d="M29.9989 39.991C28.7418 39.991 27.7187 41.0192 27.7187 42.2829C27.7187 43.54 28.7418 44.5616 29.9989 44.5616C31.2619 44.5616 32.2894 43.5393 32.2894 42.2829C32.2894 41.0192 31.2619 39.991 29.9989 39.991ZM29.9989 42.9247C29.6447 42.9247 29.3557 42.6364 29.3557 42.2829C29.3557 41.9221 29.6447 41.628 29.9989 41.628C30.359 41.628 30.6531 41.9213 30.6531 42.2829C30.6531 42.6364 30.359 42.9247 29.9989 42.9247Z"
                    fill="#fff" />
                <path d="M29.9989 16.2547C25.5801 16.2547 21.9841 19.8485 21.9841 24.2658C21.9841 25.0755 22.6413 25.7327 23.451 25.7327C24.2607 25.7327 24.9178 25.0755 24.9178 24.2658C24.9178 21.4664 27.1973 19.1884 29.9989 19.1884C32.8057 19.1884 35.0896 21.4656 35.0896 24.2658C35.0896 27.0733 32.8057 29.3572 29.9989 29.3572C29.1892 29.3572 28.5321 30.0143 28.5321 30.824V35.3969C28.5321 36.2066 29.1892 36.8637 29.9989 36.8637C30.8086 36.8637 31.4657 36.2066 31.4657 35.3969V32.15C35.1915 31.4584 38.0232 28.1889 38.0232 24.2658C38.0239 19.8485 34.4236 16.2547 29.9989 16.2547Z"
                    fill="#fff" />
            </svg>
            <span>Support</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="coming-soon.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="71" height="62" viewBox="0 0 71 62" fill="none">
                <path d="M64.4366 1.0004H6.69281C5.94287 0.991817 5.19875 1.13176 4.5042 1.412C3.80964 1.69225 3.17866 2.10714 2.64833 2.6323C2.118 3.15746 1.69903 3.7823 1.41602 4.47008C1.13302 5.15787 0.991705 5.89474 1.00038 6.63738V40.0749C1.00038 41.5529 1.5933 42.9704 2.64871 44.0155C3.70411 45.0607 5.13556 45.6478 6.62813 45.6478H9.99184V59.3986C9.99255 59.7136 10.087 60.0213 10.2634 60.2834C10.4399 60.5454 10.6904 60.7501 10.9837 60.8719C11.1741 60.9548 11.3795 60.9984 11.5874 61C12.0153 60.9951 12.4247 60.8268 12.7302 60.5303L27.8238 45.5838H64.4797C65.9424 45.5561 67.3367 44.9655 68.3671 43.9371C69.3975 42.9088 69.9831 41.5235 69.9996 40.0749V6.63738C70.0082 5.90552 69.8711 5.17916 69.5961 4.49978C69.3211 3.8204 68.9137 3.20131 68.3971 2.67786C67.8806 2.15441 67.2649 1.73685 66.5853 1.44903C65.9058 1.16121 65.1756 1.00877 64.4366 1.0004V1.0004ZM66.8515 40.0749C66.8515 40.7091 66.5971 41.3174 66.1442 41.7659C65.6913 42.2144 65.0771 42.4663 64.4366 42.4663H27.0907C26.6904 42.4716 26.3062 42.6238 26.0126 42.8934V42.8934L13.2046 55.5766V44.0678C13.2046 44.0678 13.2046 43.961 13.2046 43.9183C13.1721 43.5218 12.9897 43.1521 12.6939 42.8829C12.3981 42.6138 12.0107 42.465 11.609 42.4663H6.69281C6.05232 42.4663 5.43807 42.2144 4.98517 41.7659C4.53227 41.3174 4.27784 40.7091 4.27784 40.0749V6.63738C4.27784 6.00313 4.53227 5.39486 4.98517 4.94637C5.43807 4.49789 6.05232 4.24593 6.69281 4.24593H64.4366C65.0771 4.24593 65.6913 4.49789 66.1442 4.94637C66.5971 5.39486 66.8515 6.00313 66.8515 6.63738V40.0749V40.0749Z"
                    fill="#fff" stroke="#fff" stroke-width="0.06" stroke-miterlimit="10" />
                <path d="M15.2758 16H24.2242C24.6289 16 25.017 15.842 25.3031 15.5607C25.5893 15.2794 25.75 14.8979 25.75 14.5C25.75 14.1022 25.5893 13.7207 25.3031 13.4394C25.017 13.1581 24.6289 13 24.2242 13H15.2758C14.8711 13 14.483 13.1581 14.1969 13.4394C13.9108 13.7207 13.75 14.1022 13.75 14.5C13.75 14.8979 13.9108 15.2794 14.1969 15.5607C14.483 15.842 14.8711 16 15.2758 16Z"
                    fill="#fff" stroke="#fff" stroke-width="0.06" stroke-miterlimit="10" />
                <path d="M15.3474 25H41.4026C41.8262 25 42.2326 24.842 42.5321 24.5607C42.8317 24.2794 43 23.8979 43 23.5C43 23.1022 42.8317 22.7207 42.5321 22.4394C42.2326 22.1581 41.8262 22 41.4026 22H15.3474C14.9238 22 14.5174 22.1581 14.2179 22.4394C13.9183 22.7207 13.75 23.1022 13.75 23.5C13.75 23.8979 13.9183 24.2794 14.2179 24.5607C14.5174 24.842 14.9238 25 15.3474 25Z"
                    fill="#fff" stroke="#fff" stroke-width="0.06" stroke-miterlimit="10" />
                <path d="M55.6873 12.25H34.0627C33.6483 12.25 33.2508 12.4476 32.9577 12.7992C32.6646 13.1508 32.5 13.6278 32.5 14.125C32.5 14.6223 32.6646 15.0992 32.9577 15.4509C33.2508 15.8025 33.6483 16 34.0627 16H55.6873C56.1017 16 56.4992 15.8025 56.7923 15.4509C57.0854 15.0992 57.25 14.6223 57.25 14.125C57.25 13.6278 57.0854 13.1508 56.7923 12.7992C56.4992 12.4476 56.1017 12.25 55.6873 12.25V12.25Z"
                    fill="#fff" stroke="#fff" stroke-width="0.06" stroke-miterlimit="10" />
                <path d="M55.6529 22H49.8471C49.4235 22 49.0173 22.1581 48.7178 22.4394C48.4183 22.7207 48.25 23.1022 48.25 23.5C48.25 23.8979 48.4183 24.2794 48.7178 24.5607C49.0173 24.842 49.4235 25 49.8471 25H55.6529C56.0765 25 56.4827 24.842 56.7822 24.5607C57.0817 24.2794 57.25 23.8979 57.25 23.5C57.25 23.1022 57.0817 22.7207 56.7822 22.4394C56.4827 22.1581 56.0765 22 55.6529 22V22Z"
                    fill="#fff" stroke="#fff" stroke-width="0.06" stroke-miterlimit="10" />
                <path d="M29.4471 31H15.3029C14.8911 31 14.4961 31.1581 14.2048 31.4394C13.9136 31.7207 13.75 32.1022 13.75 32.5C13.75 32.8979 13.9136 33.2794 14.2048 33.5607C14.4961 33.842 14.8911 34 15.3029 34H29.4471C29.8589 34 30.2539 33.842 30.5452 33.5607C30.8364 33.2794 31 32.8979 31 32.5C31 32.1022 30.8364 31.7207 30.5452 31.4394C30.2539 31.1581 29.8589 31 29.4471 31V31Z"
                    fill="#fff" stroke="#fff" stroke-width="0.06" stroke-miterlimit="10" />
                <path d="M55.6496 31H37.8504C37.426 31 37.0189 31.1581 36.7187 31.4394C36.4186 31.7207 36.25 32.1022 36.25 32.5C36.25 32.8979 36.4186 33.2794 36.7187 33.5607C37.0189 33.842 37.426 34 37.8504 34H55.6496C56.074 34 56.4811 33.842 56.7813 33.5607C57.0814 33.2794 57.25 32.8979 57.25 32.5C57.25 32.1022 57.0814 31.7207 56.7813 31.4394C56.4811 31.1581 56.074 31 55.6496 31V31Z"
                    fill="#fff" stroke="#fff" stroke-width="0.06" stroke-miterlimit="10" />
            </svg>
            <span>Chat</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="coming-soon.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                <path d="M24 48C10.7594 48 0 37.2406 0 24C0 10.7594 10.7594 0 24 0C37.2406 0 48 10.7594 48 24C48 37.2406 37.2406 48 24 48ZM24 45.6C35.9436 45.6 45.6 35.9435 45.6 24C45.6 12.0564 35.9436 2.4 24 2.4C12.0565 2.4 2.4 12.0564 2.4 24C2.4 35.9435 12.0565 45.6 24 45.6ZM24 38.4C23.3372 38.4 22.8 37.8628 22.8 37.2V15.6C22.8 14.9372 23.3372 14.4 24 14.4C24.6628 14.4 25.2 14.9372 25.2 15.6V37.2C25.2 37.8628 24.6628 38.4 24 38.4ZM24 13.2C23.0059 13.2 22.2 12.3941 22.2 11.4C22.2 10.4059 23.0059 9.6 24 9.6C24.9941 9.6 25.8 10.4059 25.8 11.4C25.8 12.3941 24.9941 13.2 24 13.2Z"
                    fill="white" />
            </svg>
            <span>About</span>
        </a>
    </li>
</ul>
<!-- Main Menus---End -->